$base-font-family: 'Work Sans', sans-serif;
$base-font-size:   20px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.7;

$spacing-unit:     30px;
$light-gray: gray;
$text-color:       #3A6F8F;
$background-color: #fdfdfd;
$brand-color:      #6D83BD;
$projectbox-text:  #F8F9FB;

// Color scheme for light
$body-bg: #fdfdfd;
$projectbox: #7fb3d5;
$text-color: #3A6F8F;

// Color scheme for dark modes
$body-bg-dark: #23272d;
$projectbox-dark: lighten(#1f618d, 2%);
$text-color-dark: #98a0ac;
